body{
    background-color: rgb(250, 250, 250);
    margin : 0 auto;
    overflow-x: hidden;
}
button{
    height: 30px;
    width: 200px;
    border-style: none;
    background-color: rgb(71, 71, 255);
    color: white;
}
button:hover{
    background-color: white;
    color: rgb(71, 71, 255);
    border: .5px solid rgb(71, 71, 255);
    transition: .3s ease-in-out;
}
.history_card .card_content{
    border: .5px solid rgb(204, 204, 204);
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}
